
.form__title
{
    display: block;
    margin-bottom: 10px;
}

.form__inner
{
    display: flex;
    flex-direction: column;
}

.form__title
{
    align-self: flex-start;
    font-size: 2rem;
    font-weight: bold;
}

.form__button-wrapper
{
    align-self: flex-end;
    width: 45%;
}
