
.form__title,
.form__input,
.form__textarea
{
    display: block;
    margin-bottom: 10px;
}

.form__inner
{
    display: flex;
    flex-direction: column;
}

.form__title
{
    align-self: flex-start;
    font-size: 2rem;
    font-weight: bold;
}

.form__input,
.form__textarea
{
    padding: 3px 15px;
}

.form__input
{
    height: 25px;
}

.form__textarea
{
    resize: none;
    height: 100px;
}

.form__button-wrapper
{
    align-self: flex-end;
    width: 45%;
}
